@font-face {
	font-family: 'Muli';
	src: url(https://fonts.googleapis.com/css?family=Muli);
}

hr {
  border: 0;
  clear:both;
  display:block;
  width: 100%;               
  background-color:#7d97ad;
  height: 4px;
}

.container {
	margin-top: 10px;
}

.logo {
	width: 50%;
}

.name_desig {
	width: 100%;
}

.head {
	display: block;
	flex-wrap: initial;
}

.main_img {
	width: 100%
}

h1,
h4,
h2 {
	font-family: 'Muli';
	color: #2d3c49;
}

h4 {
	font-size: 20px;
}

h3 {
	font-family: 'Muli';
	color: #7d97ad;
}

@media screen and (max-width:450px) {
	.head {
		display:flex;
		flex-wrap: wrap;
	}
}
